# Build artifacts
build/
bin/
out/
*.o
*.obj
*.exe
*.a
*.so
*.dll
*.dylib

# LLVM / compiler outputs
*.ll
*.bc
*.s


# Temporary files
*.tmp
*.log

*.cache

# Editor / IDE
.vscode/
.idea/

*.swp
*.swo
*.DS_Store

# OS
Thumbs.db

# Test inputs / local experiments
*.turf.out


# Debug
*.dSYM/

# File Binary
turf
program

